* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace
}

.title {
    margin-bottom: 60px;
    margin-top: -80px;
}

.buttons {
    min-width: 500px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

button {
    padding: 60px 40px;
    width: 150px;
}